*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
}

/* HEADER */
    /* HEADER COL */
        header .col{
            width: calc(100% - 40px);
            margin: 0 20px;
        }
    /* FINE HEADER COL */

    /* HEADER CONTENT */
        .header-content{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
        }

        .header-content > i{
            color: #fff;
        }
    /* FINE HEADER CONTENT */
/* FINE HEADER */

/* MAIN */
    /* FIRST SECTION */
        #first-section .col{
            width: calc(100% - 40px);
            margin: 20px 20px 10px;
            border-radius: 25px;
        }

        #first-section .col:first-child{
            margin-top: 50px;
        }

        #first-section .col:last-child{
            margin-bottom: 80px;
        }
        /* FIRST SECTION CONTENT */
            .first-section-content{
                padding: 20px 20px 0 20px;
            }

            .first-section-content p{
                margin-top: 20px;
                line-height: 1.7;
            }

            .first-section-content a{
                padding: 10px 50px;
                border-radius: 20px;
            }

            .first-section-content a > i{
                margin: 40px 0px;
                padding-right: 5px;
            }

            .first-section-content img{
                width: 100%;
                position: relative;
                top: 0.3rem;
            }
        /* FINE FIRST SECTION CONTENT */

        /* FIRST SECTION CONTENT 2 */
            .first-section-content-2{
                display: flex;
                flex-flow: column wrap;
                align-items: center;
            }

            .first-section-content-2 > i{
                padding: 55px 0 40px;
                font-size: 80px;
            }

            .first-section-content-2 > h2{
                margin-top: 25px;
            }

            .first-section-content-2 > p{
                margin-bottom: 30px;
            }
        /* FINE FIRST SECTION CONTENT 2 */
    /* FINE FIRST SECTION */

    /* SECOND SECTION */
        #second-section .col{
            width: calc(100% - 40px);
            margin: 20px;
        }

        #second-section .col:last-child{
            margin-bottom: 60px;
            border-radius: 50px;
        }
        /* SECOND SECTION CONTENT */
            .second-section-content > img{
                margin-top: 40px;
                width: 100%;
            }

            .second-section-content > h2{
                font-size: 32px;
                margin: 60px 0 40px;
            }

            .second-section-content > p{
                line-height: 1.7;
            }
        /* FINE SECOND SECTION CONTENT */

        /* SECOND SECTION CONTENT 2 */
            .second-section-content-2 > h3{
                padding: 20px 0;
                font-size: 25px;
            }

            .second-section-content-2 > p{
                padding: 0 20px;
                font-style: italic;
            }

            .second-section-content-2 > a{
                width: 100px;
                height: 100px;
            }

            .second-section-content-2 > a > i{
                color: black;
                margin: 25px 0;
                padding: 13px 15px;
                border-radius: 50%;
            }
        /* FINE SECOND SECTION CONTENT 2 */
    /* FINE SECOND SECTION */

    /* TESTIMONIALS SECTION */
        #testimonials-section .col{
            width: calc(100% - 40px);
            margin: 15px 20px;
        }

        #testimonials-section .col:not(:first-child){
            border-radius: 50px;
        }

        #testimonials-section .col:last-child{
            margin-bottom: 100px;
        }

        .testimonials-content{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
        }

        .testimonials-content > span{
            display: block;
            padding-top: 30px;
        }

        .testimonials-content > h2{
            font-size: 28px;
            padding: 25px 0;
        }

        .testimonials-content > p{
            padding: 0 35px;
            line-height: 1.7;
        }

        .testimonials-content > p.txt-white{
            padding: 0 47px;
            margin-top: 15px;
        }

        .testimonials-content > p.txt-white > i{
            vertical-align: baseline;
        }
        
        .testimonials-content > div{
            margin-top: 30px;
        }

        .testimonials-content > h3{
            padding: 20px 0 30px;
        }

        .testimonials-img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        /* BACKGROUND IMAGE */
            .testimonials-img-1{
                background-image: url(../img/testimonial1.jpg);
                background-position: center;
                background-size: cover;
            }

            .testimonials-img-2{
                background-image: url(../img/testimonial2.jpg);
                background-position: center;
                background-size: cover;
            }

            .testimonials-img-3{
                background-image: url(../img/testimonial3.jpg);
                background-position: center;
                background-size: cover;
            }
        /* FINE BACKGROUND IMAGE */
    /* FINE TESTIMONIALS SECTION */

    /* BENEFITS SECTION */
        #benefits-section .col{
            width: calc(100% - 40px);
            margin: 15px 20px;
            border-radius: 25px;
        }

        #benefits-section .col:last-child{
            margin-bottom: 65px;
        }

        #benefits-section h2{
            font-size: 32px;
            margin: 60px 0;
        }

        .benefits-content{
            padding: 30px;
        }

        .benefits-content > span{
            font-size: 50px;
        }

        .benefits-content > h3{
            font-size: 22px;
            padding: 20px 0;
        }

        .benefits-content > p{
            line-height: 1.7;
            padding-right: 2px;
        }

        .benefits-content > a{
            display: inline-block;
            border-radius: 20px;
            margin: 25px 0 5px;
            padding: 10px 52px;
        }
    /* FINE BENEFITS SECTION */

    /* ABOUT US SECTION */
        #about-us-section .col{
            width: calc(100% - 40px);
            margin: 20px;
        }

        #about-us-section .col:last-child{
           margin-bottom: 60px;
        }

        .about-us-content > h2:nth-child(1){
            font-size: 40px;
            margin: 40px 0 30px;
        }

        .about-us-content > h2:nth-child(2){
            line-height: 1.5;
            font-size: 28px;
            margin: 20px 0;
        }

        .about-us-content > p{
            line-height: 2.2;
            padding-right: 30px;
        }

        .about-us-content > p:last-child{
            margin-top: 40px;
            padding-right: 35px;
        }

        .about-us-img{
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background-image: url(../img/about.jpg);
            background-position: center;
            background-size: cover;
            
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
        }

        .about-us-img > i{
            font-size: 60px;
            margin-top: 25px;
        }

        .about-us-content > a{
            display: inline-block;
            margin-bottom: 30px;
            padding: 8px 15px;
            border-radius: 25px;
        }

        .about-us-content > a > i{
            margin-right: 10px;
        }
    /* FINE ABOUT US SECTION */

    /* GET STARTED SECTION */
        #get-started-section .col{
            width: calc(100% - 40px);
            margin: 60px 20px;
        }

        .get-started-content *{
            margin-top: 30px;
        }

        .get-started-content > span:first-child{
            font-size: 22px;
        }

        .get-started-content > h3{
            font-size: 30px;
        }

        .get-started-content > h2{
            font-size: 52px;
        }

        .get-started-content > p{
            line-height: 1.7;
        }

        .get-started-content > a{
            font-size: 22px;
            margin: 30px 30px;
            padding: 16px;
            border-radius: 50px;
            display: block;
        }

        .get-started-content > span:last-child{
            display: block;
            font-size: 15px;
        }

        .get-started-content > span > a{
            text-decoration: underline;
        }
    /* FINE GET STARTED SECTION */
/* FINE MAIN */

/* FOOTER */
    footer{
        background-color: #333333;
    }

    footer .col{
        width: calc(100% - 40px);
        margin: 40px 20px;
    }

    .footer-content > p, span{
        font-size: 13.5px;
    }

    .footer-content > span{
        display: block;
        margin-top: 50px;
    }

    .footer-content > span > a{
        color: #5e55b7;
        text-decoration: underline;
    }
/* FINE FOOTER */

/* LAYOUT */
    .container{
        max-width: 600px;
        margin: 0 auto;
    }

    .row{
        display: flex;
        flex-flow: column wrap;
    }
/* FINE LAYOUT */

/* UTILITIES */
    /* BGCOLOR */
        .bgcolor-violet{
            background-color: #9792E4;
        }

        .bgcolor-blue{
            background-color: #0084FD;
        }

        .bgcolor-lightblue{
            background-color: #B5DDFF;
        }

        .bgcolor-white{
            background-color: #FFFFFF;
        }
    /* FINE BGCOLOR */

    /* TEXT COLOR */
        .txt-blue{
            color: #0084FD;
        }

        .txt-lightblue{
            color: #D5D4F4;
        }

        .txt-grey{
            color: #5A6E7F;
        }

        .txt-white{
            color: #fff;
        }

        .txt-violet{
            color: #9792E4;
        }

        .txt-orange{
            color: #FDC15F;
        }
    /* FINE TEXT COLOR */

    /* FONT WEIGHT */
        .bold{
            font-weight: 700;
        }
    /* FINE FONT WEIGHT */

    /* TEXT ALIGN */
        .txt-center{
            text-align: center;
        }
    /* FINE TEXT ALIGN */
/* FINE UTILITIES */